body {
  margin: 0;
  font-family: Starjedi;
  width: 100%;
  min-height: 100%;
  background: url("/src/assets/backgrounds/star-wars-backgrounds-14_856985d9.webp");
}
@font-face {
  font-family: "Starjedi";
  src: local("Starjedi"),
    url("/src/assets/font/Starjedi.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
